
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goToHome()"></ion-icon>
  </ion-buttons>
    <ion-title size="small">Especialidades</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <h3 class="tituloOptions">Escoge una de las opciones para poder listar los médicos</h3>
  <ion-row>
    <ion-col size="12" class="logosBloques" *ngIf="scuida">
      <img src="assets/imgs/logoCuida.png" alt="">
    </ion-col>
    <ion-col size="4" *ngFor="let scui of scuida">
      <ion-card class="cuida" (click)="goToCardCuidaPage(scui)">
        <ion-row>
          <ion-col size="2" class="imagenEspecialidad">
            <img src="{{this.urlBase + scui.imageUrl}}" alt="">
          </ion-col>
          <ion-col size="10" class="textoEspecialidad">
            <p class="cuida">{{scui.description}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="logosBloques" *ngIf="scura">
      <img src="assets/imgs/logoCura.png" alt="">
    </ion-col>
    <ion-col size="4" *ngFor="let scur of scura">
      <ion-card class="cura" (click)="goToCardPage(scur)">
        <ion-row>
          <ion-col size="2" class="imagenEspecialidad">
            <img src="{{this.urlBase + scur.imageUrl}}" alt="">
          </ion-col>
          <ion-col size="10" class="textoEspecialidad">
            <p class="cura">{{scur.description}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
