<ion-content>
  <div class="cienPorCiento">
    <ion-row>
      <ion-col size="12">
        <h3 class="tituloFamiliar">Creación de cuenta Adicional</h3>
      </ion-col>
    </ion-row>
  </div>
  
    <form [formGroup]="formFamily" (ngSubmit)="saveData(formFamily.value)" novalidate>
      <ion-list>
  
          <ion-row padding>
            <ion-col size="6">
              <ion-item>
                <!-- <ion-label stacked>Nombres:</ion-label> -->
                <ion-input formControlName="name" type="text" maxlength="40" position="floating" placeholder="Nombre" [(ngModel)]="name">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
               <!--  <ion-label stacked>Apellido Paterno:</ion-label> -->
                <ion-input formControlName="paternal_surname" type="text" maxlength="40" placeholder="Apellido Paterno" [(ngModel)]="surname1">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <!-- <ion-label stacked>Apellido Materno:</ion-label> -->
                <ion-input formControlName="maternal_surname" placeholder="Apellido Materno" type="text" maxlength="40" [(ngModel)]="surname2">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Tipo documento:</ion-label>
                    <ion-select name="document" [(ngModel)]="document" formControlName="type_document" position="floating" (ionChange)="selectDocument($event)">
                      <option value=""></option>
                      <option value="tipo de documento">Tipo de documento</option>
                      <ion-select-option *ngFor="let item of documents" value="{{ item.id }}">{{ item.name }}</ion-select-option>
                    </ion-select>
                  </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating"> Nº Documento:</ion-label>
                    <ion-input type="number" formControlName="dni" name="dni" minlength="8" maxlength="12" position="floating" [(ngModel)]="documentNumber"></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Sexo:</ion-label>
                  <ion-select formControlName="gender" name="gender" [(ngModel)]="gender" (ionChange)="selecGender($event)">
                    <option value=""></option>
                      <option value="escoge genero">Escoge genero</option>
                    <ion-select-option value="{{ge.id}}" *ngFor="let ge of genders">{{ge.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                  <ion-item>
                    <ion-label position="floating">Nacimiento:</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY"
                                  formControlName="date_of_birth"
                                  name="date_of_birth"
                                  [(ngModel)]="birthdate"
                                  max="{{actual}}"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="floating">Parentesco:</ion-label>
                    <ion-select formControlName="kindred" name="kindred" [(ngModel)]="parentesco" position="floating" (ionChange)="selecParentesco($event)">
                      <option value=""></option>
                      <option value="tipo de documento">Selecciona parentesco</option>
                      <ion-select-option value="{{r.id}}" *ngFor="let r of relations">{{r.name}}</ion-select-option>

                    </ion-select>
                  </ion-item>
                </ion-col>
          </ion-row>
  
  
        </ion-list>
        <ion-button type="submit"
                [disabled]="!desabilitadobutton()"
                size="block"
                color="tertiary"
                class="guardaryContinuar">Guardar y continuar
        </ion-button>
      </form>
      <ion-row>
        <ion-col size="7">

        </ion-col> 
        <ion-col size="5" class="contenedorButton"  (click)="closeModal()">
          <ion-button fill="clear">
            <p class="close">cerrar</p>
          </ion-button>
        </ion-col>
      </ion-row>
  
  </ion-content>
  