<ion-header>
  <ion-toolbar >
    <ion-title size="small">Código de Recuperación</ion-title>
    <ion-buttons slot="start"> 
      <ion-button clear
              click="goToLogin()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <p class="codigoValida">hemos enviado el código de validación al correo {{recoveryData.emailHash}} con el que podrás recuperar tu cuenta....</p>
 <ion-row>
   <form [formGroup]="formCode" (ngSubmit)="saveData(formCode.value)" novalidate>
   <div size="12">
     <ion-row class="padding">
         <ion-col class="rectanguloInput">
           <ion-input type="tel"
                        minlength="1"
                        maxlength="1"
                        name="primero"
                       [(ngModel)]="primero"
                       formControlName="primero"
                        ></ion-input>
          </ion-col>
         <ion-col class="rectanguloInput">
            <ion-input type="tel"
                      minlength="1"
                      maxlength="1"
                        [(ngModel)]="segundo"
                        formControlName="segundo"
                        ></ion-input>
          </ion-col>
         <ion-col class="rectanguloInput">
           <ion-input type="tel"
                      minlength="1"
                      maxlength="1"
                      tercero="tercero"
                      formControlName="tercero"
                      [(ngModel)]="tercero"></ion-input>
          </ion-col>
          <ion-col class="rectanguloInput">
              <ion-input type="tel"
                      minlength="1"
                      maxlength="1"
                         tercero="cuarto"
                         formControlName="cuarto"
                         [(ngModel)]="cuarto"></ion-input>
             </ion-col>
            </ion-row>
            <div class="containerInputs">
                <h3 class="tituloContraseña">Cambia la contraseña</h3>
                <p class="recuerda">Recuerda ingresar minimo 8 carácteres y al menos un número</p>
                 <ion-item>
                     <ion-label position="floating">contraseña nueva</ion-label>
                     <ion-input type="password"
                                 formControlName="password"
                                 ngModel>
                     </ion-input>
                   </ion-item>

                   <ion-item>
                       <ion-label position="floating">Repetir contraseña nueva</ion-label>
                       <ion-input type="password"
                                   formControlName="passwordRepeat"
                                   ngModel>
                       </ion-input>
                     </ion-item>
              </div>
            <div class="center">
              <ion-button
                      block
                       type="submit"
                       class="botonRecuperar"
                       [disabled]="!formCode.valid || !validacion()">
                 Recuperar
              </ion-button>
            </div>
   </div>

  </form>
</ion-row>


 <!-- <div class="center">
   <p class="newCode">Si no recibiste o caducó tu codigo puedes solicitar uno nuevo.</p>
   <ion-button
          class="codigoreen"
          clear
          (click)="sendCode()">reenviar códido
 </ion-button>
 </div> -->

</ion-content>

