    ion-content {
        --background: #f1f3f8;
        height: 100vh;
        padding-bottom: 220px !important;
        margin-bottom: 150px !important;
    }

    ion-toolbar {
        --background: #f06e5a;
    }

    .list-md {
        background: #F9FBFB !important;
    }

    .item-md {
        --background: transparent !important;
    }

    #busqueda {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 10px;
        // border-radius:10px;
        height: 250px;
    }

    .swiper-slide {
        width: 60px !important;
        height: auto;
    }

    .dentroExpandable {
        height: 60px;

        p {
            margin-top: -15px,
        }
    }

    .swiper-container {
        height: 55px !important;
        width: 95%;
        margin-left: 2.5%;
    }

    .centerItemsDays {
        text-align: center;

        // display: flex;
        // flex-direction: column;
        // align-content: center;
        // justify-content: center;
        p {
            color: #4A4A4A;
        }
    }

    .doctor {
        font-weight: 200;
        color: #007198;
        font-size: 1.5em;
        text-align: right;
        margin-right: 15px;
        line-height: 1.2em;
        margin-top: 10px;
        text-transform: capitalize;
    }

    .especialidad {
        text-align: right;
        color: grey;
        margin-right: 15px;
        font-size: 1.2em;
        font-weight: lighter;
        margin-top: 0 !important;
        text-transform: capitalize;
    }

    .centro {
        text-align: right;
        margin-right: 15px;
        font-size: 1.2em;
        color: grey;
        font-weight: 300;
    }

    .diasLibres {
        // margin-bottom: 0!important;
        text-align: center;

        h6 {
            font-size: 1.1em;
            color: grey;
            text-align: center;
            // margin-right: 10px;
        }
    }

    .imageSlider {
        width: 150px;
        margin-left: calc(50% - 75px);
        margin-top: 1em;
        border-radius: 50%;
    }

    .cardSlider {
        text-align: center;
        width: 250px;
    }

    .tituloSlider {
        color: #007198;
        font-size: 1.4em;
        text-align: center;
        line-height: 1.2em;
        width: 80%;
        margin: 8%;
    }

    .diasColor {
        background: #FF634C;
        height: 30px;
        width: 30px;
        margin-top: 10px;
        border-radius: 50%;
        margin-left: 5px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        font-size: .8em;
        font-weight: 200;
    }

    .imageDoctor img {
        border-radius: 15px;
        margin-top: 1em;
        margin-left: 1em;
        // box-shadow: 0px 2px 3px #A7A9AC;
    }

    .containerDays {
        width: 90%;
        margin-left: 5%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .item-label-stacked .select-md,
    .item-label-floating .select-md,
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],
    .item-input-has-value .label-md[floating],
    .input-has-value .label-md[floating] {
        color: #287195;
    }

    .horas {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px !important;

        p {
            color: #007198;
            border-radius: 20px;
            padding: .3em .8em;
            /* background: #3691be; */
            border: 1px solid #007198;
            font-weight: 400;
            margin-right: 10px;
        }
    }

    .icono {
        margin-top: 15px;
        color: grey;
    }

    .textoCitas {
        color: #20668B;
        margin-top: 50px;
        text-align: center;
    }

    .gris {
        background: red;
    }

    .mat-expansion-indicator {
        color: #007198 !important;
    }

    /* a:hover {
      background: #007198!important;
      opacity: .9!important;
  } */
    /* a:hover{
      background: red!important;
  } */

    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
    }

    .normal {
        width: 100% !important;

        .swiper-slide {
            width: 100% !important;
        }

        .swiper-container {
            height: auto !important;
        }
    }

    /* .slide-zoom .ng-star-inserted{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
    .borrar {
        display: none !important;
    }

    .cabecera {
        background-color: #287195;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid {
        margin-left: 40px;
    }

    .tarjeta {
        border-top-right-radius: 20px;
        // background:#F7FBFB;
    }

    .logoCuida {
        width: 110px;
        height: auto;
    }

    .logoIrACura {
        width: 100px;
    }

    a:focus {
        background: #00B6A3 !important;
        opacity: .9 !important;
    }

    .triangulo {
        font-size: 1em;
        background: none;
        color: #20668B;
        margin-top: -5px;
    }

    a:hover {
        background: #20668B;
    }

    a:hover:after {
        display: block
    }

    .slider .slider-pager {
        text-align: right;
    }

    .alignVertical {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
            color: #4A4A4A;
            font-size: 1.4em !important;
        }
    }

    .expand-wrapper {
        background: #f06e5a !important;
    }

    /* estilos IOS */
    .title-ios {
        margin-left: -45px !important;
    }

    .dia {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        font-size: .8em;
    }

    .diasDoctor {
        font-size: .9em;
    }

    mat-expansion-panel-header {
        ion-slides {
            height: 100px;
        }
    }

    .horariosDisponibles {
        width: 100%;
    }

    .contenedorHoras {
        height: 50px;
    }

    //stilos card nuevo

    .box-main-content {
        width: 92%;
        margin-left: 4%;
        margin-bottom: 15px;

        .datosDoctor {
            background: #fff;
            border-top-right-radius: 20px;
            margin-bottom: 10px;
        }

        .disponibles {
            margin-top: -16px;

            .diasCitas {
                background: #f6f6f6;
                padding-bottom: 15px;

                p {
                    color: #052F51;
                    text-align: right;
                    font-size: .9em;
                    margin-right: 16px;
                    padding-top: 8px;
                }

                ul {
                    margin: 0 !important;
                    padding: 0 10px !important;

                    li {
                        /*                      display: block; */
                        list-style-type: none;
                        background: #FF634C;
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        /*                    text-align: center; */
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .box-day {
                            color: #fff;
                        }

                    }

                    span {
                        color: #052F51;
                        margin-top: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 15px;
                    }
                }
            }
        }

        .active {
            background: #20668B !important;
            color: #fff;
        }

        .horasCitas {
            margin-top: -16px;
            background: #20668B;


            .box-hour {
                margin-bottom: 50px;

                .p-hour-dispo {
                    text-align: center;
                    color: #fff;
                    font-size: .9em;
                    margin-top: 10px;
                }

                .box-hour-main {
                    margin-bottom: 10px;

                    .hourdispo {
                        background: #052F51;
                        color: #fff;
                        padding: .2em 0;
                        width: 80%;
                        margin-left: 10%;
                        border-radius: 5px;
                        text-align: center;
                    }

                    .desactive {
                        background: #919191;
                        color: #fff;
                        padding: .2em 0;
                        width: 80%;
                        margin-left: 10%;
                        border-radius: 5px;
                        text-align: center;
                        pointer-events: none;
                    }
                }

            }
        }
    }