    ion-content{
      background: rgb(231, 231, 231)!important;
    }
      ion-avatar {
          width: 100%;
          height: 100%;
      }
      ion-avatar img {
          height: 80px!important;
          width: 80px!important;
          border-radius: 10%!important;
          margin-left:10px;
          display: block;
      }
      h3 {
          color: #00B6A3!important;
          font-size: 1.1em;
          text-align: right;
          margin-right: 16px!important;
          font-weight: 600;
          margin-top: 1em!important;
      }
      .especialidad {
          color: #A7A9AC;
          font-weight: 500;
          text-transform: capitalize;
          font-size: .9em;
          text-align: right;
          margin-right:16px;
           /*  span{
              color:#062F51;
              font-size:.8em;
            } */
      }
      .list-ios {
          margin: 0;
      }
      .sede {
          color: #A7A9AC;
          font-weight: 200;
          text-align: right;
          margin-right: 16px;
          font-size: .9em;
          text-transform: capitalize;
      }
      .bar-button-default-md:hover:not(.disable-hover),
      .bar-button-clear-md-default:hover:not(.disable-hover),
      .bar-button-md-default:hover:not(.disable-hover) {
          color: #fff!important;
      }
      .textoCitasNulo {
          color: #062F51;
          text-align: center;
          font-size: 1.5em;
      }
      .gris {
          background: #F3F6F6;
      }
      .item-md
      {
          padding: 0;
      }
      .item-inner {
          padding-right: 0!important;
      }
      .label-md {
          margin: 0;
      }
      .diaCita {
          color: #062F51;
          p {
              text-align: left;
              font-size: .9em;
              margin-left: 5px;
          }
      }
      .hourCita {
          p {
              text-align: right;
              margin-right: 5px;
              font-size: 1em;
              font-weight: 600;
              color: #00B6A3;
          }
      }
      .tituloCitas{
          text-transform: capitalize;
          font-size:1.1em;
          margin-top:5px!important;
      }
      .iconoDerecha{
        text-align:right;
      }
      .centrado{
        display:flex;
        justify-content: flex-start;
        align-items: center;
          p{
            margin-left: 10px;
            color:#A7A9AC;
          }
      }
      .nombreFamiliarBox{
        margin:0!important;
        padding:0!important;
        p {
          background: #00B6A3;
          color:#fff;
          padding:.2em .5em;
          text-align: right;
          margin-right: 10px;
        }
      }

      .segment-md-secondary .segment-button{
        color:#fff!important;
      }
      .containerDepends{
        background: #F3F6F6;
        height: 80px;
        margin-bottom:40px;
        text-align: center;
        position: sticky    ;
      }
      .botonConImagen{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .nombreUsuarios{
        color:#A7A9AC;
        font-size:.7em;
        margin-top:0;
      }
      .principalName{
        color:#A7A9AC;
        font-size:.7em;
        margin-top:0;
      }
      .nombrePrincipalBox{
        margin: 0!important;
        padding:0!important;
        p{
          background: #062F51!important;
          border-top-right-radius: 10px;
          color:#fff;
          padding:.2em .5em;
          text-align: right;
          margin-right: 16px;
          margin-top:10px;
        }
      }
      ion-slide{
        width:100px!important;
        text-align: center!important;
      }
      .swiper-container {
        width: 100%;
        margin-top:20px;
    }
    .botonConImagen{
      p{
        font-size:1.4em;
      }
    }
    .botonConImagen:hover{
      color:#FF634C;
      background: none!important;
      font-size: 1.2em;
      width: 50px;
      height:50px;
      border: 2px dashed #FF634C;
    }
    .principalName{
      color:#062F51;
      font-size:.7em;
      text-transform: capitalize!important;
    }
    ion-button:active{
      background: red;
    }
    // .botonConImagen {
    //   p{
    //     font-size:1.4em;
    //   }
    // }
    .contenedorSinCitas{
      margin-top:20vh;
    }
    .imagenSinCitas{
      width: 130px;
      margin-left: calc(50% - 65px);
    }
    .bordeDerecho{
      border-top-right-radius: 25px!important;
      background:#fff;
    }
    ion-segment-button{
      color: #fff!important;
    }
    ion-segment-button:active{
      color:#fff;
    }
    .nopadding{
      padding:none;
      margin: none;
    }

