<ion-header>
  <ion-toolbar hideBackButton="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small"> Mi citas </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="citas" color="secondary">
      <ion-segment-button value="miscitas">
        <p>Citas próximas</p>
      </ion-segment-button>
      <ion-segment-button value="citaspasadas">
        <p>Citas Pasadas</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- 
  COMPONENTE QUE MUESTRA EL RESUMEN DE LAS CITAS PENDFIENTES PARA UN USUARIO PRINCIPAL O PARA SUS DEPENDIENTES, ADEMÁS MUESTRA UNA
  LISTA CON LAS CITAS PASADAS Y SI LA CITA PASADA TUVO RECETA SE MUESTRA UN ICONO QUE COMPRUEBA LA MISMA
 -->
<ion-content>
  <div [ngSwitch]="citas">
    <div *ngSwitchCase="'miscitas'">
      <ion-list *ngFor='let task of tasks'>
        <ion-card class="bordeDerecho" *ngIf="task">
          <ion-row>
            <ion-col size="4">
              <ion-avatar item-start>
                <img src="{{SERVERImage}}{{task.professionalId}}.png" (error)="errorHandler($event)">
              </ion-avatar>
            </ion-col>
            <ion-col size="8" (click)="goToDetailsTask(task)">
              <ion-col size="12" class="nombrePrincipalBox">
                <p>Cita para: {{task.patientName}}</p>
              </ion-col>
              <h3 class="tituloCitas" text-wrap>{{task.professionalName | lowercase}} {{task.professionalLastName1 | lowercase}}</h3>
              <p class="especialidad" text-wrap> <span>Especialidad:</span>
                {{ task.basicServiceDescription | lowercase }}</p>
              <p class="sede">Sede: {{ task.centerName | lowercase }}</p>
            </ion-col>
            <ion-col size="12" class="gris">
              <ion-row>
                <ion-col size="5" class="diaCita">
                  <p class="day">{{ task.appointmentDateTime | date:'EEEE d , MMMM ' : 'es-ES' }} </p>
                </ion-col>
                <ion-col size="5" class="hourCita">
                  <p class="hour">{{ task.appointmentDateTime | date: 'h:mm' }}</p>
                </ion-col>
                <ion-col size="1"></ion-col>
                <!--     <ion-col size="1">
                    <ion-icon name="videocam"></ion-icon>
                  </ion-col> -->
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>
      <div>
        <div *ngIf="conCitas">
          <ion-list *ngFor='let task of conCitas'>
            <ion-card class="bordeDerecho">
              <ion-card-content>
                <ion-row class="nopadding">
                  <ion-col size="4">
                    <ion-avatar item-start>
                      <img src="{{SERVERImage}}{{task.professionalId}}.png">
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="8" (click)="gotoDetails(task.appointments[0])">
                    <ion-row>
                      <ion-col size="12" class="nombreFamiliarBox">
                        <p class="nombreFamiliar">Cita para: {{task.appointments[0].patientName}}</p>
                      </ion-col>
                      <ion-col size="12">
                        <h3 class="tituloCitas" text-wrap>
                          {{task.appointments[0].professionalLastName1}} {{task.appointments[0].professionalLastName2}} {{task.appointments[0].professionalName}}</h3>
                        <p class="especialidad">{{ task.appointments[0].basicServiceDescription | lowercase }}
                        </p>
                        <p class="sede">{{ task.appointments[0].centerName | lowercase }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" class="gris">
                    <ion-row>
                      <ion-col size="5" class="diaCita">
                        <p class="day">{{ task.appointments[0].appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }}
                        </p>
                      </ion-col>
                      <ion-col size="5" class="hourCita">
                        <p class="hour">{{ task.appointments[0].appointmentDateTime | date:'h:mm' }}</p>
                      </ion-col>
                      <ion-col size="1"></ion-col>
                      <!-- <ion-col size="1">
                        <ion-icon color="danger" name="videocam"></ion-icon>
                      </ion-col> -->
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </div>
      </div>
      <div *ngIf="conCitas < 1 && tasks.length < 1" class="contenedorSinCitas">
        <!--  <div class="imagenSinCitas">
          <img src="assets/imgs/sinCitas.png" alt="">
        </div> -->
        <p class="textoCitasNulo">No tienes citas pendientes</p>
      </div>
    </div>

    <div *ngSwitchCase="'citaspasadas'">
      <ion-slides class="containerDepends">
        <ion-slide>
          <div class="row">
            <ion-col>
              <ion-button class="botonConImagen" (click)="getDatesUser()">
                {{nombreCortado}}
              </ion-button>
            </ion-col>
            <ion-col>
              <p class="principalName">{{nombre}}</p>
            </ion-col>
          </div>
        </ion-slide>

        <ion-slide *ngFor="let dep of dependens">
          <div class="row">
            <ion-col size="12">
              <ion-button color="secondary" class="botonConImagen" (click)="getDatesDepends(dep)">
                <p>{{dep.name | slice:0:1}}</p>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <p class="nombreUsuarios">{{dep.name}}</p>
            </ion-col>
          </div>
        </ion-slide>
      </ion-slides>
      <ion-list *ngFor='let citaspa of citaspasadas'>
        <ion-card class="bordeDerecho" *ngIf="citaspasadas ">
            <ion-row>
              <ion-col size="4">
                <ion-avatar item-start>
                  <img src="{{SERVERImage}}{{citaspa.codigo_personal}}.png"
                    onerror="this.src= window['aviva'].SERVERImage + '/img/professionals/default.png';">

                </ion-avatar>
              </ion-col>
              <ion-col size="8">
                <h3 class="tituloCitas" text-wrap>{{citaspa.apellido1 | lowercase}} {{citaspa.apellido2 | lowercase}}
                  {{citaspa.nombre | lowercase}}</h3>
                <p class="especialidad" text-wrap>CMP: {{ citaspa.codigo_colegiado | lowercase }}</p>
                <p class="especialidad" text-wrap>{{ citaspa.servicio_basico | lowercase }}</p>
                <p class="sede">Sede: {{ citaspa.nombre_centro | lowercase }}</p>
              </ion-col>
              <ion-grid>
                <ion-row *ngIf="citaspa.tiene_receta == 1">
                  <ion-col size="10" class="centrado">
                    <p>Esta consulta tiene receta</p>
                  </ion-col>
                  <ion-col size="2">
                      <ion-icon slot="icon-only" name="attach" >
                      </ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-col size="12" class="gris">
                <ion-row>
                  <ion-col class="diaCita">
                    <p class="day">{{ citaspa.date | slice:0:10 | date:'EEEE d , MMMM ' : 'es' }} </p>
                  </ion-col>
                  <ion-col class="hourCita">
                    <p class="hour">{{ citaspa.hora | slice:11:16}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-card>
        <div *ngIf="!citaspasadas.encuentros && !citaspasadas">
          <!-- <div class="imagenSinCitas">
              <img src="assets/imgs/sinCitas.png" alt="">
            </div> -->
          <p class="textoCitasNulo">No tienes citas pasadas</p>
        </div>
      </ion-list>
    </div>

  </div>


</ion-content>