    ion-content {
        --background: #e7e7e7!important;
        height: 100vh;
    }
    ion-header ion-toolbar{
        --background:url(../../../assets/imgs/fondoOnboarding.svg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      ion-title{
          color:#fff;
      }
    .list-md {
        background: #e7e7e7!important;
    }
    .list-ios{
        background: transparent;
    }
    .item-md {
        background: transparent!important;
    }
    .toolbar-background{
        border-width:none;
    }
    ion-back-button{
        color:#fff;
      }
    #busqueda {
        margin-top:10px;
        width: 95%;
        margin-left:2.5%;
        // border-radius:10px;
        height:200px;
        h5{
            color:#062F51;
            margin-bottom: 5px;
            font-family: 'avenir-bold';
            text-align: center;
            font-size: 1em;
            margin-top: 10px;
        }
    }
    .swiper-slide {
        width: 60px!important;
        height: auto;
    }
    .dentroExpandable {
        height: 60px;
        p {
            margin-top: -15px,
        }
    }
    .swiper-container {
        height: 55px!important;
        width: 95%;
        margin-left: 2.5%;
    }
    .centerItemsDays {
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-content: center;
        // justify-content: center;
        p {
            color: #4A4A4A;
        }
    }
    .doctor {
        font-weight: 200;
        width:90%;
        margin-left:5%;
        color: #287195;
        font-size: 20px;
        text-align: right;
        margin-right: 15px;
        line-height: 22px;
        margin-top: 10px;
        text-transform: capitalize;
        font-family: 'avenir';
    }
    .especialidad {
        text-align: right;
        color: grey;
        margin-right: 15px;
        font-size: 16px;
        font-weight: lighter;
        margin-top: 0!important;
        text-transform: capitalize;
        font-family: 'avenir';
        margin-bottom:2px
    }
    .centro {
        text-align: right;
        margin-right: 15px;
        font-size:14px;
        color: grey;
        font-weight: 300;
        font-family: 'avenir-light';
    }
    .diasLibres {
        // margin-bottom: 0!important;
        text-align: center;
        h6 {
            font-size: 1.1em;
            color: grey;
            text-align: center;
            // margin-right: 10px;
        }
    }
    .imageSlider {
        width: 150px;
        margin-left: calc( 50% - 75px);
        margin-top: 1em;
        border-radius: 50%;
    }
    .cardSlider {
        text-align: center;
        width: 250px;
    }
    .tituloSlider {
        color: #00B6A3;
        font-size: 1.4em;
        text-align: center;
        line-height: 1.2em;
        width: 80%;
        margin: 8%;
    }
    a {
        background: #20668B;
        height: 40px;
        width: 40px;
        border-radius: 50%;
       /*  margin-left: 15px; */
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        font-size: 1.1em;
        font-weight: 400;
    }
   
    .imageDoctor img {
        border-radius: 15px;
        margin-top: 1em;
        margin-left: 1em;
        img{
            width:80%;
            height: auto;
            margin-left:10%;
        }
        // box-shadow: 0px 2px 3px #A7A9AC;
    }
    .containerDays {
        width: 90%;
        margin-left: 5%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .item-label-stacked .select-md,
    .item-label-floating .select-md,
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],
    .item-input-has-value .label-md[floating],
    .input-has-value .label-md[floating] {
        color: #287195;
   
    }
    .horas {
        font-size: 1em;
        text-align: center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
          p {
            background: #fff;
            border-radius: 5px;
            padding: .2em .6em;
            color: #20668B;
            border: 2px solid #20668B;
            margin-left:10px;
            margin-bottom: 3px;
            font-family: 'avenir-bold';
          }
      }
    .icono {
        margin-top: 15px;
        color: grey;
    }
    .textoCitas {
        color: blue;
        margin-top: 50px;
        text-align: center;
    }
    .gris {
        background: red;
    }
    .mat-expansion-indicator {
        color: #007198!important;
    }
    a:focus {
        background: #00B6A3!important;
        opacity: .9!important;
    }
    .triangulo{
        font-size:1em;
        background: none;
        color:#20668B;
        margin-top:-10px;
    }

    a:hover:after{
        display:block;
    }
    a:hover{
        background: #f74f35!important;
    }
    .active{
        background: #062F51!important;
    }

    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: #dedede!important;
        box-shadow: none!important;
    }
    .normal{
      width: 100%!important;
      .swiper-slide{
        width:100%!important;
      }
      .swiper-container{
        height: auto!important;
      }
    }
 /*    .slide-zoom .ng-star-inserted{
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    } */
    .borrar{
      display: none!important;
    }
    .cabecera{
      --background: #287195;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid{
      margin-left:40px;
    }
    .tarjeta{
      border-top-right-radius: 20px;
      margin-top:0!important;
      margin-bottom:10px;
      /* background:#F7FBFB; */
    }
    .logoCura{
      width: 150px;
      height: auto;
    }
    .alignVertical{
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon{
            color:#4A4A4A;
            font-size:1.4em!important;
        }
    }
    .swiper-pagination{
        margin-top:15px!important;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        padding-top:15px!important;
    }
     .slide-zoom .ng-star-inserted{
        height: 40px;
    }
    .turno{
        color:#fff;
    }
    .textoSalva{
        color:#20668B;
        text-align: center;
        width: 80%;
        margin-left:10%;
        margin-top:100px;
        font-size:1.1em;
    }
    
      .slider .slider-pager {
        text-align: right;
     } 
     .logoIrACuida{
         width: 100px;
     }
     .title-ios{
        margin-left:-45px!important;
    }
    .consulta{
        background: #20668B;
        .horas{
            p{
                background: #052F51;
                color:#fff;
            }
        }
    }
    .teleconsulta{
        background: #519DB9!important;
          .horas{
            p{
              background: #f74f35;
              color:#fff!important;
            }
          }
      }
    .sinPadding{
        padding: 0!important;
    }
    .divisor{
        margin-top:5px;
    }
    .iconoFlag{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width:35px;
        }
    }
    ion-label{
        color:#20668B!important;
    }
    .select-text{
        color:#20668B!important;
    }
    .contenedorHoras{
        height: 50px;
    }
    .dia{
        margin-top:10px;
        width:30px;
        height: 30px;
        font-size: .8em;
    }
    .diasDoctor{
        font-size: .8em;
    }
    mat-expansion-panel-header{
        ion-slides{
            height: 100px;
        }
    }
    //stilos card nuevo
.box-main-content {
    .datosDoctor {
        background: #fff;
        border-top-right-radius: 20px;
        padding-bottom: 10px;
    }

    .disponibles {
        margin-top: -16px;

        .diasCitas {
            padding-bottom: 5px;

            p {
                color: #052F51;
                text-align: right;
                font-size: .9em;
                margin-right: 16px;
                padding-top: 8px;
            }

            ul {
                margin: 0 !important;
                padding: 0 10px !important;

                li {
                    list-style-type: none;
                    background: #16cff0;
                    height: 30px;
                    width: 30px;
                    border-radius: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .box-day {
                        color: #fff;
                    }

                }

                span {
                    color: #052F51;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;
                }
            }
        }
    }

    .horasCitas {
        margin-top: -5px;
        background: #f9f9f9;

        .box-hour {
            .p-hour-dispo {
                text-align: center;
                color: #063962;
                font-size: 11px;
                margin-top: 5px;
            }

            .box-hour-main {
                margin-bottom: 10px;
            }

            ion-col {
                height: 40px;
            }

        }
    }
}
    .hourdispo {
        border:1.5px solid #20668B;
        color: #20668B;
        padding: .2em 0;
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;
        text-align: center;
    }
    
    .desactive {
        background: #919191;
        color: #fff;
        padding: .2em 0;
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;
        text-align: center;
        pointer-events: none;
    }
    .diasDisponibles {
        font-size: .7em !important;
        margin-bottom:0!important;
    }
    .tituloEspecialidad{
        color:#062F51;
        text-align: center;
        font-family: 'avenir-bold';
        margin-top:10px;
    }
    .visible{
        display: block;
    }
    .oculto{
        display: none;
        border-bottom: 0!important;
    }
    mat-progress-spinner{
        text-align: center;
        margin-top:20px;
    }
    .preloader{
        height: 78px;
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .text-small{
          flex-wrap: nowrap;
      }
    }
