ion-item{
    color:#fff;
    margin-bottom:14px;
    --background:transparent!important;
}
ion-list{
    margin-top:50px;
    margin-left:15px;
    --background:transparent!important;
}
.list-md{
    background:transparent!important;
}
ion-toolbar{
    --border-color:transparent!important;
}
ion-header{
    ion-title{
        color:#fff;
         font-family:'avenir-bold';
         font-size:1.6em;
         margin-top:20px;
         margin-left:30px;
    }
    &.ios{
        ion-title{
            font-size:1.2em;
            margin-top:0;
            margin-left: 0;
        }
    }
}
.header-ios {
    ion-toolbar:last-of-type{
        --border-width:0!important;
    }
}
.list-ios{
    background:transparent!important;
}
ion-menu{
    --background:url(../../../assets/imgs/fondoOnboarding.svg);
}
ion-content{
    --background:url(../../../assets/imgs/fondoOnboarding.svg);
}
ion-icon{
    color:#fff;
}
.red{
    color:red;
}
img{
    width:80px;
    margin-top:60px;
    margin-left: calc( 50% - 40px);
}