<ion-header color="light">
  <ion-toolbar hideBackButton="true" persistent="true">
      <ion-buttons slot="start">
          <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="contenedorDatos">
      <div>
        <ion-row class="containerDatos">
          <ion-col size="7" class="nombreUsuario">
            Bienvenido {{nombre}}
          </ion-col>
          <p class="textHelp">Como podemos ayudarte hoy?</p> 
        </ion-row>  
      </div>
    </div>

</ion-header>

<ion-content >
<ion-row>
  <ion-col class="padding">
    <ion-searchbar placeholder="Busca un doctor"></ion-searchbar>
  </ion-col>
</ion-row>
<h4 class="tituloSliderOpciones">Estas son tus opciones</h4>
<ion-slides [options]="slideOpts">
  <ion-slide>
    <div class="cajaContenedora ion-activatable ripple-parent">
      <ion-card class="containerRounded" (click)="goToAppointments()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-row>
          <ion-col size="12">
            <img src="assets/imgs/intro/appointments.svg" alt="">
          </ion-col>
          <ion-col size="12">
            <p class="textoCard">Próximas citas</p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-badge *ngIf="citapendiente" color="danger" item-end>{{citapendiente}}</ion-badge>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="cajaContenedora ion-activatable ripple-parent">
      <ion-card class="containerRounded" (click)="goToDates()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-row>
          <ion-col size="12">
            <img src="assets/imgs/intro/medicines.svg" alt="">
          </ion-col>
          <ion-col size="12">
            <p class="textoCard">Mis recetas</p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-badge *ngIf="recipendiente" item-end>{{recipendiente}}</ion-badge>
  </div>
  </ion-slide>
  <ion-slide>
    <div class="cajaContenedora ion-activatable ripple-parent">
      <ion-card class="containerRounded" (click)="goToParents()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-row>
          <ion-col size="12">
            <img src="assets/imgs/intro/parents.png" alt="">
          </ion-col>
          <ion-col size="12">
            <p class="textoCard">Mis parientes</p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-badge *ngIf="recipendiente" slot="start">{{dependens}}</ion-badge>
   </div>
  </ion-slide>
</ion-slides>
<div size="12" class="padding">
  <ion-button class="principal" 
              size="large"
              expand="block"
              color="secondary"
  (click)="goToOptions()">
     <p>reservar cita</p>
    </ion-button>
</div>
</ion-content>
