
  ion-content{
      --background:#F6F9FE;
  }
  ion-toolbar{
    --background:#F6F9FE;
  }
  .nextDay {
      border-radius: 0;
      color: grey;
      ion-icon {
          color: grey;
      }
  }
  .history {
      border-radius: 0;
      color: grey;
      ion-icon {
          color: grey;
      }
  }
  .recipes {
      border-radius: 0;
      border-left: 15px solid #92DCE8;
      color: grey;
      ion-icon {
          color: grey;
      }
  }
  .principal {
      margin-top:30px;
      border-top-right-radius: 45px!important;
      --background:url(../../assets/imgs/fondoOnboarding.svg);
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      border-radius: none!important;
      border-top-right-radius: 30px;
      height: 80px;
      p{
          font-family: 'avenir-bold';
      }
      ion-icon {
          color: #fff;
      }
      ion-item {
          margin-top: 10px;
          font-size: 1.1em;
      }
      .card-ios {
          --background: #00B6A3!important;
          border-radius: 0!important;
          height: 90px;
      }
      .item-ios {
          --background: transparent;
      }
      .item-md {
          --background: transparent;
      }
  }
  .containerNoticias{
      margin-bottom:30px!important;
  }
  .reserve {
      color: #fff;
      font-size: 1.3em;
  }
  .font11 {
      font-size: 1.3em;
      color: #A7A9AC;
  }
  mat-expansion-panel-header ion-col {
      display: flex;
      align-items: center;
      // justify-content: center;
      ion-icon {
          color: #00B6A3;
          font-size: 1.3em;
      }
  }
  .mat-expansion-panel-content {
      --background: #F3F6F6!important;
  }
  mat-expansion-panel-header {
      height: 70px!important;
      --background: #fff;

  }
  mat-expansion-panel {
      margin-bottom: 15px;
      ion-icon {
          font-size: 1.5em!important;
      }
  }
  .mat-expansion-indicator {
      color: #A7A9AC!important;
  }
  img {
      width: 90px;
      border-radius: 10%;
  }
  .down10 {
      padding-top: 10px!important;
  }
  .tituloCitas {
      text-align: right;
      color: #287195!important;
      font-size:.9em;
  }
  .especialidad {
      text-align: right;
      color: #00B6A3;
      font-size: .8em;
      margin-top: -5px;
  }
  .sede,
  .day,
  .hour {
      text-align: right;
      color: #A7A9AC;
      font-size: .9em;
      margin-top: -8px;
  }
  .textoRecetas {
      text-align: center;
      color: #287195;
      width: 80%;
      margin-left: 10%;
      padding-top: 20px;
  }
  .logueado{
      font-size:.8em;
      // text-transform:lowercase;
      margin-right:10px;
 /*      background:#00B6A3; */
      padding:5px;
      border-radius:10px;
  }

  .contenedorIcono img{
    width:40px;
  }
  .contenedorNombrePastilla {
    text-align:right;
    p{
      color:#A7A9AC;
      font-size:1em;
      text-align:right;
    }
  }
  .nombreMedicamento{
    font-weight: 900;
    color:#00B6A3;
  }
  .vecesXdia{
    color:#287195;
    font-weight: 500;
    font-size:.9em;
  }
  .contenedorReceta{
    .item-md{
      background:transparent!important;
    }
  }
  .nombreDepe{
    text-align: right;
    --background: #00B6A3;
    color:#fff;
    padding-top:.2em;
    padding-bottom:.2em;
    padding-right: 16px;
  }
  .inicioDePrescripcion{
    color:#287195;
    font-size: .8em;
  }
  .diasFaltantes{
    color:#287195;
    font-size:.8em;
    font-weight: 400;
  }
  .contenedor{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
  }

  .contenedorDatos{
      padding-bottom:30px;
      background:#F6F9FE;
  }
  .textHelp{
      color:#a9aaaa;
      margin-left:32px;
  }
  ion-nav{
      --background: transparent!important;
  }
  .card-ios{
      margin:0!important;
      width:100%!important;
  }

  .containerRounded{
      height: 110px;
      width: 110px;
      border-radius:12px;
      --background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
          margin-top:10px;
          width:40px;
      }
  }
  .swiper-container, ion-slides{
      height: 130px!important;
  }
  .textoCard{
      margin-top:-5px;
      font-size:.9em;
      font-family: 'avenir-light';
  }
  .containerOptions{
      width:150px!important;
      height: 180px!important;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .usuarioImg{
      height: 50px;
      width:50px;
      border-radius: 50%;
      --background: #fff;
      border: 1px dashed #b64900;
      
  }
  .containerLogo{
      img{
          width:40px;
          margin-left: 30px;

      }
      margin-bottom:30px;
  }
  .nombreUsuario{
      color:#000;
      font-size:1.5em;
      font-family:'avenir-bold';
      text-transform: capitalize;
      margin-top:30px;
      margin-left:30px;
  }
  .containerIcon{
      text-align: center;
      ion-icon{
          color:#fff;
          font-size:1.8em!important;
          margin-top:10px;
      }
  }
  .cajaContenedora{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .tituloSliderOpciones{
      font-size:1.2em;
      color:#000;
      margin-top:50px!important;
      margin-left:30px;
      font-family: 'avenir-bold';
  }
  .NotiSobreContainer{
      width:30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:20px;
      left: 15px;
  }
  ion-badge{
      width:25px;
      height: 25px;
      position: absolute;
      float: right!important;
      margin-left:50px;
      top:20px;
  }
  .padding{
      padding:20px;
  }
.especialidades{
    box-shadow: none;
    width:100%!important;
    border-radius:5px;
    height: 80px;
    margin-inline:5px;
    img{
        width:19px;
        margin-top:15px;
    }
    p{  
        width:90%;
        margin-left:5%;
        margin-top:10px;
        font-size:.7em;
        text-transform: lowercase;
        line-height: .9em;
        color:#000;
    }
}
.containerListEspecialist{
    width:90%;
    margin-left:5%;
}
.ion-text-wrap{
    h4{
        margin-bottom:2px;
        font-family: 'avenir-bold';
        color:#287195;
        font-size:.8em;
        margin-left:5px;
    }   
    p{
        color:#000;
        font-size:.7em;
        margin-bottom:2px;
        text-transform: lowercase;
        margin-left:5px;
        margin-top:-5px;
    }
}